<!-- LOADING (START) -->
<div *ngIf="!!(Loading$ | async)" class="G-column-center-center G-w-100-P G-h-70vh">
  <ng-lottie width="120px" height="120px" [options]="loadingLottie"></ng-lottie>
</div>
<!-- LOADING (END) -->

<ng-container *ngIf="!(Loading$ | async)">
  <div class="L-users-block G-w-95vw">
    <!-- USERS LIST (START) -->
    <ng-container *ngIf="!isPageEmpty">
      <div class="G-flex-align-center G-mb-20">
        <h3 class="G-fs-20 G-gray9 G-mr-10 G-Roboto-Medium G-mb-0">Total users:</h3>
        <p class="G-ml-5 G-mb-0 G-fs-18 G-blue4 G-Roboto-Medium">{{ usersState.totalCount }}</p>
      </div>
      <div class="G-custom-table">
        <div class="G-custom-table-body">
          <div class="G-custom-table-tr">
            <div class="G-custom-table-th">
              <p>Id</p>
            </div>
            <div class="G-custom-table-th">
              <p>Avatar</p>
            </div>
            <div class="G-custom-table-th">
              <p>Login</p>
            </div>
            <div class="G-custom-table-th">
              <p>Type</p>
            </div>
            <div class="G-custom-table-th"></div>
          </div>
          <div class="G-custom-table-tr" *ngFor="let item of usersState.userList; trackBy: trackByID">
            <div class="G-custom-table-td G-cursor-copy">
              <p [cdkCopyToClipboard]="item.id" (click)="featuresService.onCopyUserId('Id copied!')">
                {{ item.id }}
              </p>
            </div>
            <div class="G-custom-table-td">
              <div
                (click)="onToggleImageModal(true, item.avatar_url)"
                class="G-image-thumb"
                [class.G-cursor]="item.avatar_url"
              >
                <img class="G-image-cover" [src]="item.avatar_url | defaultImg | safe: 'url'" />
              </div>
            </div>
            <div class="G-custom-table-td">
              <p>{{ item.login }}</p>
            </div>
            <div class="G-custom-table-td">
              <p>{{ item.type }}</p>
            </div>
            <div class="G-custom-table-td"></div>
          </div>
        </div>
        <div class="G-flex-center-center G-w-100-P G-load-more-box" *ngIf="usersState.hasNext">
          <app-load-more
            [hasNext]="usersState.hasNext"
            [paging]="filterData.paging"
            [componentEnum]="FeatureComponentEnum.users"
            [Loading$]="Loading$"
            (changeLoadSize)="filterData.paging.selectedOption = $event"
          ></app-load-more>
        </div>
      </div>
    </ng-container>
    <!-- USERS LIST (END) -->

    <!-- EMPTY SPACE (START) -->
    <div *ngIf="!(Loading$ | async) && isPageEmpty" class="G-column-center-center G-w-100-P G-h-70vh">
      <svg class="G-w-80px G-h-80px">
        <use xlink:href="assets/images/sprite.svg#empty-box-open"></use>
      </svg>
      <p class="G-fs-20 G-gray6">Nothing here!</p>
    </div>
    <!-- EMPTY SPACE (END) -->
  </div>
</ng-container>

<app-user-img-modal [usersState]="usersState"></app-user-img-modal>
