<div class="G-page" #pageView>
  <div class="L-users-section">
    <div class="L-users-header">
      <div class="G-flex-justify-center G-mb-20">
        <h3 class="G-gray7 G-fs-22 G-Roboto-Regular">Users page</h3>
      </div>
      <app-users-filter></app-users-filter>
    </div>
    <div class="L-users-body G-flex-justify-center G-px-20 G-py-30">
      <app-users-list></app-users-list>
    </div>
  </div>
  <!-- <div
    *ngIf="scrollButtonState"
    class="G-scroll-button"
    [ngClass]="{
      'G-scroll-top': this.scrollOptions.block === 'start',
      'G-scroll-down': this.scrollOptions.block === 'end'
    }"
    (click)="onScrollDown()"
  ></div> -->
</div>
