@import 'variables';
@import 'globals/mixin';

@include screen-max-width-1024 {
  .L-users-section {
    overflow-x: auto;
    height: calc(100% - 20px);
  }
  .L-users-header,
  .L-users-body {
    width: 600px;
  }
}
