@import 'variables';
@import 'globals/mixin';

.L-users-header {
  h3 {
    line-height: 1;
    text-align: center;
    font-size: 22px;
    @media (max-width: 1600px) {
      font-size: 20px;
    }
  }
}

@include screen-max-width-1024 {
  .L-users-section {
    overflow-x: auto;
    height: calc(100% - 15px);
  }
  .L-users-header,
  .L-users-body {
    width: 600px;
  }
}

.L-users-block::ng-deep {
  .L-users-table {
    .mat-form-field-underline {
      background-color: transparent !important;
      opacity: 0 !important;
    }

    .mat-form-field-subscript-wrapper {
      opacity: 0 !important;
    }
  }
}
